.RoomScreen {
    background-color: #656565;
    height: 87vh;
}

.RoomScreen > ul {
    list-style: none;
    overflow: auto;
    height: 77vh;
    display: flex;
    text-align: left;

    flex-direction: column-reverse;
}

.ChatSubmissionLine {
    position: absolute;
    width: 45vw;
    bottom: 3vh;
}